.header {
  width: 100vw;
  height: 150px;

  background-color: #ed171e;
  display: flex;
  align-items: center;
}

.header img {
  width: 150px;
  height: 80px;
}

/*  ROUTE CHARACTERS  */

.map img {
  width: 150px;
  height: 150px;
}

h2 {
  font-size: 30px;
}

.map {
  border: black solid 1px;
}

.cards {
  height: 350px;
  width: 25%;
}
